
<br><br>
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-md-3">
              <h3>𝔸𝔻𝔻 ℙℝ𝕆𝔻𝕌ℂ𝕋</h3>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="productName">Product Name</label>
                      <input type="text" class="form-control" name="productName" [(ngModel)]="model.productName" #productName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && productName.invalid }" required />
                      <div *ngIf="f.submitted && productName.invalid" class="invalid-feedback">
                          <div *ngIf="productName.errors.required">Product Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="description">Product Description</label>
                      <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
                      <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                          <div *ngIf="description.errors.required">Product Description is required</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="optionvalues"> Choose a Service:</label><br>
                    <select (change)="myFunction($event.target.value)">
                      <option value="0">----Select----</option>
                  <option   *ngFor="let service of services" value={{service.id}} aria-required="true" >{{service.servicename}}

                  </option>
                </select>  
                </div>
                  <div class="form-group">
                      <label for="startDate">Product Start Date</label>
                      <input type="date" class="form-control" name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && startDate.invalid }" required  />
                      <div *ngIf="f.submitted && startDate.invalid" class="invalid-feedback">
                          <div *ngIf="startDate.errors.required">Product Start Date is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="endDate">Product End Date</label>
                    <input type="date" class="form-control" name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endDate.invalid }" required/>
                    <div *ngIf="f.submitted && endDate.invalid" class="invalid-feedback">
                        <div *ngIf="endDate.errors.required">Product End Date is required</div>  
                    </div>
                </div>
                <div class="form-group">
                  <label for="imageUrl">Product Image Url</label>
                  <input type="text" class="form-control" name="imageUrl" [(ngModel)]="model.imageUrl" #imageUrl="ngModel" [ngClass]="{ 'is-invalid': f.submitted && imageUrl.invalid }" required />
                  <div *ngIf="f.submitted && imageUrl.invalid" class="invalid-feedback">
                      <div *ngIf="imageUrl.errors.required">Product Image Url is required</div>
                      
                  </div>
              </div>

              <div class="form-group">
                  <label for="basePrice">Base Price</label>

                  <input type="number" class="form-control" name="basePrice" [(ngModel)]="model.basePrice" #basePrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && basePrice.invalid }" />

                  <div *ngIf="f.submitted && basePrice.invalid" class="invalid-feedback">
                      <div *ngIf="basePrice.errors.required">Base Price is required</div>
                      
                  </div>
              </div>

                <div class="form-group">
                  <label for="active">Product IS ACTIVE</label>
                  <input type="checkbox" class="form-control" name="active" 
                  [(ngModel)]="model.active" #active="ngModel" required />
                  
              </div>
                  <div class="form-group">
                      <button class="btn btn-info">ADD PRODUCT</button>
                  </div>
              </form>
            </div>
      </div>
  </div>
</div>


  
