<div class="g-pt-150">
  <section class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Success Outline Panel-->
        <div class="card card-outline-success rounded-0">
          <h3 class="card-header h5 text-white bg-success g-brd-transparent rounded-0">
            <i class="fa fa-tasks g-font-size-default g-mr-5"></i>
            Admin Action Items
          </h3>
          <div class="card-block">
            <div class="g-mt-50 text-center">
              <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                <li class="nav-item g-my-15">
                  <a routerLink="/vendor/create" class="nav-link px-0"> New vendor
                  </a>
                </li>

                <li class="nav-item g-my-15">
                  <a routerLink="" class="nav-link px-0"> View and Update Vendor
                  </a>
                </li>

                <li class="nav-item g-my-15">
                  <a routerLink="/newservice/create" class="nav-link px-0"> New Service
                  </a>
                </li>

                <li class="nav-item g-my-15">
                  <a routerLink="/getallservice" class="nav-link px-0"> View and Update Service
                  </a>
                </li>
 
                <li class="nav-item g-my-15">
                  <a routerLink="/newproduct" class="nav-link px-0"> New Product
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="u-heading-v3-1 g-mb-40">
          <h2 class="h3 u-heading-v3__title">Matrices on Display</h2>
        </div>

        <div class="row g-my-10">
          <div class="col-md-3">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Total<br> Vendors</h4>
              <h1>200</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Active Vendors</h4>
              <h1>147</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Total Customers</h4>
              <h1>1209</h1>
            </div>
          </div>
          <div class="col-md-3">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Active Customers</h4>
              <h1>809</h1>
            </div>
          </div>
        </div>

        <div class="row g-mt-30">
          <div class="col-md-6">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Number of Services</h4>
              <h1>20</h1>
            </div>
          </div>

          <div class="col-md-6">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Total Products</h4>
              <h1>147</h1>
            </div>
          </div>
        </div>

        <div class="row g-mt-30">
          <div class="col-md-6">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Total Orders (Transactions)</h4>
              <h1>100000</h1>
            </div>
          </div>

          <div class="col-md-6">
            <div class="u-shadow-v1-5 g-pa-15   text-center" role="alert">
              <h4 class="h3">Last Week Orders</h4>
              <h1>1473</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
