<br><br>

<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "ball-atom"
></ngx-spinner>
<div class="jumbotron" >
    <h3>𝕊𝔼ℝ𝕍𝕀ℂ𝔼 𝕃𝕀𝕊𝕋</h3> 
    
<table class="table table-responsive table-striped table-bordered " *ngIf="services">
<thead class="thead-inverse">
  <tr>
  <td>Id</td>
  <td>Name</td>
  <td>Image Url</td>
  <td>Description</td>
  <td>Start Date</td>
  <td>End Date</td>
  <td>Service Flag</td>
  <td><tr><td>ProductId</td>
  <td>ProductName</td>
  <td>ProductDescription</td>
  <td>IsActive</td>
  <td>StartDate</td>
  <td>EndDate</td>
  <td>ImageUrl</td>
  <td>baseprice</td>
  </tr></td>
  <td>Take Action At Service Level</td>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let service of services">
        <td>{{service.id}}</td>
        <td> <span *ngIf="service.id!=sId">{{service.servicename}}</span>
          <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.servicename"/>
        </td>
        <td><span *ngIf="service.id!=sId">{{service.serviceimageurl}}</span>
            <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.serviceimageurl"/>
        </td>
        <td><span *ngIf="service.id!=sId">{{service.description}}</span>
            <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.description"/>
        </td>
        <td><span *ngIf="service.id!=sId">{{service.servicestartdate}}</span>
            <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.servicestartdate"/>
        </td>
        <td><span *ngIf="service.id!=sId">{{service.serviceenddate}}</span>
            <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.serviceenddate"/>
        </td>
        <td><span *ngIf="service.id!=sId">{{service.serviceactiveflag}}</span>
            <input type="text" *ngIf="service.id==sId" [(ngModel)] ="sModel.serviceactiveflag"/>
        </td>
        <td><tr *ngFor="let product of service.product">
          <td>{{product.id}}</td>
          <td>{{product.productname}}</td>
          <td>{{product.description}}</td>
          <td>{{product.isactive}}</td>
          <td>{{product.startdate}}</td>
          <td>{{product.enddate}}</td>
          <td>NULL</td>
          <td>{{product.baseprice}}</td>
        </tr></td>
        <td>
          <div class="btn-group">
              <button type="button" *ngIf="service.id!=sId" class="btn btn-success" (click)="sId=service.id; sModel=service">Edit</button>   
            <button type="button" *ngIf="service.id==sId" class="btn btn-primary" (click)="updateService()">Update</button>
            <button type="button" *ngIf="service.id!=sId" class="btn btn-danger" (click)="deleteService(service.id, service.servicename)">Delete</button>   
            <button type="button" *ngIf="service.id==sId" class="btn btn-danger" (click)="sId=-1; sModel= NULL ">Cancel</button>   
          </div>
          </td>
      </tr>
</tbody>
</table>
</div>